@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');


/* ================================
            GLOBAL STYLES
================================== */
body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    color: #323A45;
}

p{
    color:#848484;
}

a{
    text-decoration: none;
    color: #323A45;
    font-size: 20px;
}

/* ================================
            HEADER STYLES
================================== */

header{
    display: flex;
    justify-content: space-between;
}

.NavBar{
    display: flex;
    list-style: none;
}

.NavBar li{
    padding: 10px 10px;
}

.hamburger-menu{
    margin-top: 20px;
    display: none;
}

.hamburger-menu span{
    display: block;
    background: #000;
    height: 3px;
    width: 30px;
    margin-top: 5px;
}

/* ================================
              Hero Styles
================================== */

.hero-container{
    width: 100%;
}

.hero-img{
    margin-top: 10vh;
    max-width: 100%;
}

/* ================================
        Grid-Container Styles
================================== */

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.product-img{
    width: 100%;
    margin-top: 5vh;
}

.product-description{
    display: flex;
    justify-content: space-between;
}

.product1{
    grid-area: 1 / 1 / 2 / 2;
}

.product2{
    grid-area: 1 / 2 / 2 / 3;
}

.product3{
    grid-area: 1 / 3 / 2 / 4;
}

.product4{
    grid-area: 2 / 1 / 3 / 2;
}

.product5{
    grid-area: 2 / 2 / 3 / 3;
}

.product6{
    grid-area: 2 / 3 / 3 / 4;
}

/* ================================
            Hover-Effekt
================================== */

.product-img:hover , .hero-img:hover{
    opacity: .5;
}

/* ================================
            Footer STYLES
================================== */

footer section{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

footer ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ol li a{
    font-size: 16px;
}

footer p{
    color: #000;
} 

.fußnote{
    display: flex;
}

@media (max-width: 950px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
    }
    .product1{
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .product2{
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .product3{
        grid-area: 2 / 1 / 3 / 3;
    }
    
    .product4{
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .product5{
        grid-area: 3 / 2 / 4 / 3;
    }
    
    .product6{
        grid-area: 4 / 1 / 5 / 3;
    }
}

@media (max-width: 500px){
    .grid-container{
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    footer{
        width: 100%;
        margin: 0 auto;
    }

    footer section{
        display: block;
        text-align: center;
    }
    .fußnote{
        width: 100%;
        margin: 0 auto;
    }
}